.nav-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-link {
    /* text-align: center; */
    /* font-weight: bold; */
    font-size: larger;
    color: black;
}

.nav-link:hover {
    color: white;
    background-color: black;
}

.nav-item:hover .nav-icon {
    color: white;
}

.nav-icon {
    margin-right: 10px;
    color: black;
}

@media (max-width: 768px) {
    .nav-link {
        width: 0;
        overflow: hidden;
    }
}

table {
    font-family: arial, sans-serif;
    width: 100%;
    table-layout: auto;
    min-width: fit-content;
    overflow-x: auto;
}

.table-header {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.header-border {
    border-bottom: 2px solid black;
}

.collapsed-td {
    max-width: 10vw;
}

tr:hover {
    cursor: pointer;
}


.task-detail-view {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* max-width: 600px; */
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status,
.priority {
    padding: 5px 10px;
    border-radius: 3px;
}

.status {
    background-color: #f0ad4e;
    color: white;
}

.priority {
    background-color: #d9534f;
    color: white;
}
.red{
    background-color: red;
    color: #ffffff;
    /* Red */
}

.orange {
    background-color: orange;
    color: #ffffff;
    /* Orange */
}

.yellow {
    background-color: rgb(225, 225, 13);
    color: #000000;
    /* Yellow */
}

.light-green {
    background-color: #07adb6;
    color: white;
    /* LightGreen */
}

.green {
    background-color: #008000;
    color: white;
    /* Green */
}

.gray{
    background-color: gray;
    color: white;
}
.blue{
    background-color: #07adb6;
    color: white;
}

.main-content h2 {
    margin-top: 20px;
}

.metadata,
.actions,
.activity-log {
    margin-top: 20px;
}

.actions button {
    margin-right: 10px;
}